{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-10 mx-auto my-4 text-center">
        {% if user.sex == "M" %}
          <h3>Vos comptes <br> Monsieur {{user.firstName }} {{user.lastName }}</h3>
        {% else %}
          <h3>Vos comptes <br> Madame {{user.firstName }} {{user.lastName }}</h3>
        {% endif %}
        {# Depuis la méthode verifyUserEmail de RegistrationController, je chope le message de succès. #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
      {% for operation in operations %}
      <div class="card col-10 col-md-5 mx-auto my-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ operation.account.AccountType }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ouvert le {{ operation.account.OpeningDate|date('d/m/Y') }}</li>
          <li class="list-group-item">Solde actuel : {{ operation.account.Balance }} euro</li>
          <li class="list-group-item">Dernière transaction le {{ operation.DateTransaction|date('d/m/Y') }}</li>
          <li class="list-group-item">Type : {{ operation.OperationType }}</li>
          <li class="list-group-item">Justificatif : {{ operation.Comments }}</li>
          <li class="list-group-item">Montant : {{ operation.Amount }}</li>
        </ul>
        <div class="card-body">
          <a href="{{ path('app_account', {id:operation.account.id})}}" class="card-link">Gérer</a>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
