{% extends 'template.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10 mx-auto">

    {% for error in errors %}
      <div class="alert-danger">
        {{ error.message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
      <div class="row">
        <div class="alert alert-danger col-10 mx-auto text-center">
          {{ message }}
        </div>
      </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
      <div class="my-4">
        {{ form_row(form.account, {
        label: 'Votre compte',
        'attr': {'class': 'form-control'}
        }) }}
      </div>
      <div class="my-4">
        {{ form_row(form.operation_type, {
        label: 'Débit ou Crédit',
        'attr': {'class': 'form-control'}
        }) }}
      </div>
      <div class="my-4">
        {{ form_row(form.amount, {
        label: 'Montant',
        'attr': {'class': 'form-control'}
        }) }}
      </div>
      <div class="my-4">
        {{ form_row(form.comments, {
        label: 'Justificatif obligatoire',
        'attr': {'class': 'form-control'}
        }) }}
      </div>
      <div class="my-4">
        {{ form_row(form.submit, {
        'label': 'Enregistrer'
        }) }}
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
