{% extends 'template.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}

{% block content %}

  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {% for error in errors %}
      <div class="alert-danger">
        {{ error.message }}
      </div>
    {% endfor %}
    <div class="alert-danger">
      {{ balance }}
    </div>
    <div class="">
        <div class="">
            {{ form_row(form.account, {
                label: 'Votre compte',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="">
            {{ form_row(form.operation_type, {
                label: 'Débit ou Crédit',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="">
            {{ form_row(form.amount, {
                label: 'Montant',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="">
            {{ form_row(form.comments, {
                label: 'Justificatif obligatoire',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="">
          {{ form_row(form.submit, {
            'label': 'Enregistrer'
          }) }}
        </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
