{% extends 'template.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}

<div class="row">
  <div class="card col-md-10 col-lg-5 mx-auto my-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ operations[0].account.AccountType }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ouvert le {{ operations[0].account.OpeningDate|date('m/d/Y') }}</li>
      <li class="list-group-item">Solde actuelle : {{ operations[0].account.Balance }} euro</li>
    </ul>
    <div class="card-body">
      <a href="{{ path('app_home') }}" class="card-link">Retour</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="col-md-10 col-lg-5 mx-auto my-4">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">Date</th>
          <th scope="col">Type d'opération</th>
          <th scope="col">Montant (euro)</th>
        </tr>
      </thead>
      <tbody>
        {% for operation in operations %}
          <tr class="text-center">
            <th scope="row">{{ operation.DateTransaction|date('d/m') }}<br>{{ operation.DateTransaction|date('Y') }}</th>
            <td>{{ operation.OperationType }}<br>{{ operation.Comments }}</td>
            <td>{{ operation.Amount }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
