{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EasyBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="{{ path('app_home') }}">Accueil <span class="sr-only">(current)</span></a>
        {% if app.user %}
          <a class="nav-link btn btn-light text-dark" href="{{ path('app_account_new') }}">Ouvrir un compte</a>
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          <a class="nav-link" href="{{ path('app_mouvement') }}">Mouvement</a>
        {% else %}
          <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
          <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
        {% endif %}
      </div>
    </div>
</nav>
{% endif %}
